<div id="partners">
	<h2>Services et Avantages</h2>
	<p>
		Choisir Etudes canada vous offre la possibilité d’être sure de votre investissement.<br/>
		Nous mettons à votre disposition les différentes écoles partenaires afin de vous permettre de faire votre choix de programme d’études puis votre admission c est  en une semaine garantie ou remboursé.<br/>
		Il faut noter que parfois les délais de traitements de dossiers peuvent aller jusqu’à  deux semaines du fait des nombres de dossiers à traiter.<br/>
		Tout au long de votre processus de votre nous vous accompagnons et mettons à votre disposition tous les documents administratifs et orientations nécessaires de la demande d admissions au CAQ, ainsi que les différentes étapes à suivre pour monter un bon dossier de demande de Visa.<br/>
		Choisir nos services vous permet de bénéficier d'un suivi gratuit de votre dossier jusqu’à l arrivée et de bénéficier de l expertise du savoir faire de nos avocats.
	</p>
	<h3>Remarques</h3>
	<p>
		Il est important de noter qu’une admission qui n est pas faite par notre entremise ne peut en aucun cas être garantie de notre part et par conséquence le candidat ne pourra pas bénéficier du suivi gratuit de son dossier ainsi que de son admission en une semaine, garantie ou remboursée.<br/>
		Toute fois les frais de services que nous associons au services sont juste 83$ de différence pour bénéficier de la garantie ci-dessus du délai réduit ainsi que le suivit gratuit du dossier jusqu’ à l arrivée.<br/>
	</p>
</div>