<div id="services-advantages">
	<div id="investment">
		<h2 style="text-align: center"><i class="fa fa-usd"></i></h2>
		<p>
			Nous mettons différentes écoles partenaires à disposition des élèves afin de permettre de choisir au mieux un programme d’études en adéquation avec leur orientation.
		</p>
	</div>
	<div id="process">
		<h2 style="text-align: center"><i class="fa fa-exchange"></i></h2>
		<p>
			Admission en une à deux semaines satisfait ou remboursé
		</p>
	</div>
	<div id="accompaniment">
		<h2 style="text-align: center"><i class="fa fa-handshake-o"></i></h2>
		<p>
			Mise à disposition des documents administratifs et orientations nécessaires de la demande d'admissions au CAQ, ainsi que des différentes étapes à suivre afin de monter un bon dossier de demande de Visa.<br/>
			Choisir nos services vous permet de bénéficier d'un suivi gratuit de votre dossier jusqu’à l arrivée et de bénéficier de l expertise du savoir faire de nos avocats.
		</p>
	</div>
</div>