<div id="partners">
	<h2>A propos de nous</h2>
	<h3>Pourquoi Etudes Canada </h3>
	<p>
		Nous comprenons le besoin des étudiants poursuivre leurs études au Canada.<br/>
		Notre but est de les orienter, en leur donnant les meilleurs conseils pour réussir leur projet d'étude.<br/>
		La plupart des agences qui existent aujourd'hui cachent la réalité aux élèves et étudiants désirants poursuivre leurs études au Canada.<br/>
		En effet, celles-ci leur font payer des frais qui n'ont aucun sens et ne leur garantissent pas le remboursement de l'admission en cas de refus.<br/>
		Ces mêmes agences ne donnent pas non plus aux étudiants les informations complètes dont ils ont besoin.<br/>
		En plus de cela, les durées de traitements de dossiers sont souvent très longues.
	</p>
	
	<p>
		Etudes Canada donne l'admission au Collège aux étudiants en une semaine et garantie un remboursement dans le cas d'une annulation.<br/>
		Nous offrons la possibilité aux étudiants de poursuivre leurs études en première, deuxième cycle ou de faire une formation professionnelle au Collège.<br/>
		Pour ceux qui pensent qu'il est impossible de venir poursuivre ses études au Canada à cause du coût des études, nous vous disons que c'est possible avec Etude Canada.<br/>
		Aujourd'hui, grâce aux programmes de courte durée de maximum un an et demi, vous pouvez faire vos études moins chères et appliquer pour votre statut au Canada.<br/>
		Nous vous mettons sur la bonne voie et vous offre un suivi gratuit du début de l'admission jusqu'à la fin de vos démarches.<br/>
		Vous n'avez plus à payer pour avoir les bonnes informations.<br/>
		Nous vous conseillerons durant tout le processus de votre demande de Visa pour maximiser vos chances.<br/>
		
	</p>

	<h3>Contactez-nous pour plus d'informations !</h3>
	<h4>Adresse</h4>
	<p>777 boulevard robert Bourassa H3C 3Z7 Montréal, Québec, Canada</p>
	<h4>Email</h4>
	<p>etudecanada.ca@gmail.com</p>
	<h4>Téléphone</h4>
	<p>514 592 1052  disponible sur whatsapp</p>
</div>